*{
text-align: center;
}

body {
  background-color: #F1F0FF;

}

h1 {
    border-bottom: 5px solid black;
    background-color: #C3C3E5;
    padding: 5px;
}

img {
    border: 5px solid black;
    margin-right: 60px;;
  
}

ul {
    list-style-type: none;

}

li {
    display: inline;
    border-left: 5px solid red;
    margin: 5px;
    padding: 5px;
}

p {
  border-style: dashed;
  box-shadow: 0 0 10px black;
}

#header {
  
}

#content{
  
}

#text {
  width: 90%;
  margin:auto;
}

#text p {
  padding: 10px;
  background-color: #C3C3E5;
  text-indent: 40px;
}

#text p:first-child {
  background-image: url(../images/fondoParrafo.png);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#text p:last-child {
border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#menu {

}

#menu a{
    color:black;
    text-decoration: none;
}


#menu li{

}

#menu li a:hover{
    text-decoration: underline;
    color:red;

}

#footer{
    color:white;
    background-color: #443266;
    border-top: 5px solid black;

}

#footer a{
    color: white;
}

#footer a:hover{
    text-decoration: underline;
    color:red;
}
#image {
    text-align: right;
}

@media all and (max-width: 500px) {

    img{
        border:5px solid red;
        width:90%;
        display: block;
        margin: auto;
    }
}
