* {
  margin: 0px auto;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  background: url('../imagenes/fondo.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  padding-bottom: 120px;
}

h1, h2 {
  font-family: 'Creepster', system-ui;
  text-align: center;
  letter-spacing: 3px; 
}

p {
  font-family: 'Special Elite', serif; 
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
}

#content {
  padding-bottom: 50px;
  overflow: hidden;
  width: 90%;
  max-width: 1200px;
}

img {
  border: dashed 5px greenyellow;
  margin: 10px;
}

.imagen img {
  width: 300px;
  height: auto;
}

.imagen.derecha {
  float: right;
  margin: 0 0 10px 20px;
}

.imagen.izquierda {
  float: left;
  margin: 0 20px 10px 0;
  width: 300px;
}


#header {
  margin-top: 60px;
  text-align: center;
  border-bottom: 5px solid greenyellow;
  border-top: 5px solid greenyellow;
  color: white;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#cookieEU {
  position: fixed;
  bottom: 120px;
  left: 20%;
  right: 20%;
  background-color: #111;
  color: #f2f2f2;
  border-radius: 6px;
  padding: 20px;
  font-size: 0.9em;
  text-align: center;
  box-shadow: 0 4px 15px black;
  z-index: 1000;
}

#menu {
  top: 0px;
  position: fixed;
  width: 100%;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  padding: 10px 0;
}
li{
  font-family: 'Special Elite', serif;
}

#menu a {
  color: white;
  text-decoration: none;
  padding: 5px 15px;
}

#menu li {
  display: inline;
  font-family: 'Special Elite', serif;
}

#menu li a:hover {
  background-color: greenyellow;
  color: black;
}

#footer {
  background-color: greenyellow;
  text-align: center;
  color: black;
  border-top: 5px solid black;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
}

.button {
  background-color: yellowgreen;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.bloque {
  margin-top: 30px;
  margin-bottom: 30px;
  clear: both;
}

.texto {
  text-align: justify;
  color: white;
  padding: 10px;
  width: 100%;
}

.text {
  width: 100%; 
  padding: 10px;
  margin-top: 5px;
  background-color: white; 
  color: black; 
  border: 2px solid greenyellow; 
  border-radius: 5px;
}


textarea.text {
  height: 100px;
}


#contacto {
  max-width: 500px;
  margin: 0 auto;
}