body {
    background-color: burlywood;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    background-color: grey;
    color: white;
    border-left:10px solid red;

}

img {
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    border: 5px solid black;
    width: 500px;
}

ul {
   list-style-type: none; 
}

li {
    border: 1px solid black;
    display: inline;
}

